# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environment variables
*.env

# Virtual environments
.venv/
env/
venv/

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Jupyter checkpoints (in case you use notebooks later)
.ipynb_checkpoints/
